@page
@model project.Pages.myadmin.UpdateEducationModel
@{
}
<div class="container">
<form method="post">
    <div class="row justify-content-center">
         <div class="col-md-4">
            <h1>
                Update Education
            </h1>
       </div>
    </div>
    
    <div class="row justify-content-center">
         <div class="col-md-4">
             <label  class="form-label">Degree</label>
             <input  class="form-control" asp-for="education.Degree">
             <input  class="form-control" hidden asp-for="education.Id">
       </div>
    </div>
     <div class="row justify-content-center">
         <div class="col-md-4">
             <label  class="form-label">Start year</label>
             <input  class="form-control"asp-for="education.start year>
       </div>
    </div>
     <div class="row justify-content-center">
         <div class="col-md-4">
             <label  class="form-label">End year</label>
             <input  class="form-control" asp-for="education.end year">
       </div>
    </div>
     <div class="row justify-content-center">
         <div class="col-md-4">
             <label  class="form-label">Institute Name</label>
             <input  class="form-control" asp-for="education.institute name">
       </div>
    </div>
     <div class="row justify-content-center">
         <div class="col-md-4">
             <label  class="form-label">Description</label>
             <input  class="form-control" asp-for="education.desc">
       </div>
    </div>
     <div class="row justify-content-center">
         <div class="col-md-4">
             <input type="submit" value="AddEducation" class="btn btn-primary"/>
       </div>
    </div>
</form>
</div>